<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>회원가입 페이지</title>
</head>
<body>
<h1> 회원가입 페이지 </h1>
<hr/>
<div class="container">
<form action="/join" method="post">
    <div class="form-group">
        <label>Username</label></br>
        <input type="text" name="username" class="form-control" aria-placeholder="Enter username" id="username" />
    </div>
    <div class="form-group">
        <label>Password</label></br>
        <input type="password" name="password" class="form-control" aria-placeholder="Enter Password" id="password" />
    </div>
    <div class="form-group">
        <label>Email</label></br>
        <input type="email" name="email" class="form-control" aria-placeholder="E-mail" id="email" />
    </div>
    </br>
</form>
    <button id="btn-save" class="btn btn-primary">회원가입</button>
</div>
<script src="/js/user.js"></script>

</body>
</html>