<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
  <h1> 로그인 페이지  </h1>
  <hr/>
  <form>
    <div class="mb-3">
      <label for="username" class="form-label">Email address</label>
      <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
  </form>
    <button id="btn-login" class="btn btn-primary">로그인</button>


    <div class="form-floating">

      </br>
      </br>
      <a>>>> 간편로그인 <<<</a>
      </br>
      <a href="/oauth2/authorization/naver" role="button">
        <img src="/image/naver-login.png" alt="네이버로그인" width="201" height="54"></a>
      </br>
      </br>
      <a href="/oauth2/authorization/kakao" role="button">
        <img src="/image/kakao_login_large_narrow.png" alt="카카오로그인" width="201" height="54"></a>
      </br>
      </br>
      <a href="/oauth2/authorization/google">
        <img src="/image/google_login.png" alt="구글로그인" width="201" height="54"></a>
    </div>
  <script src="/js/user.js"></script>
  <div th:replace="fragments/footer :: footer" />
</body>
</html>